body{
    /* text-align: -webkit-center; */
    background-color: #FFC0CB;
}

.main{
    margin-left: 50px;
    margin-top: 80px;
}

form{
    margin-top: 50px;
    font-size: larger;
}

.heading{
    font-family: 'Fredoka One', cursive;
    margin-top: 20px;
}

/* #Email_Address,#Department,#Mobile_No,#Password,#name{
    width: 200%;
} */

.btn{
    margin-top: 50px;
}

#FirstNameError, #LastNameError,#emailError,#departmentError,#mobileNoError,#passwordError{
    margin:auto;
    color: red;
}
