body{
    /* text-align: -webkit-center; */
    background-color:#79CBFB;
    display:flex;
    justify-content: center;
    align-content: space-between;
}

.main{
    margin-left: 50px;
    margin-top: 80px;
}

.form{
    margin-top: 30px;
    font-size: larger;
}

.heading{
    font-family: 'Fredoka One', cursive;
    margin-top: 20px;
}

.btn{
    margin-top: 20px;
}

#FirstNameError, #LastNameError,#emailError,#departmentError,#mobileNoError,#passwordError{
    margin: 20px;
    color: red;
}
